@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

#root{
     font-family: "Roboto", sans-serif;
}
@theme{
    --color-lavender: #6e6a88;
    --color-black: #020202;
    --color-aqua: #79a2af;
    --color-DustyRose: #efeef2;
    --color-graay: #d0e1d5;
}